In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector
import os
%matplotlib inline

mydb = mysql.connector.connect(host = 'localhost', user = 'root', password = 'shivam', database = 'shivamdb')

In [4]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute("Show tables")

In [7]:
for tb in mycursor:
    print(tb)

('employee',)