In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector
import os
%matplotlib inline

mydb = mysql.connector.connect(host = 'localhost', user = 'root', password = 'shivam', database = 'shivamdb')

In [11]:
mycursor = mydb.cursor()

In [12]:
sqlform = "Insert into employee(name, salary) values(%s, %s)"

In [13]:
employees = [("harshit", 20000), ("amit", 30000), ("ankita", 40000)]

In [14]:
mycursor.executemany(sqlform, employees)

In [15]:
mydb.commit()