In [1]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost', user = 'root', password = 'shivam', database = 'shivamdb')
mycursor = mydb.cursor()

In [4]:
sql = "UPDATE employee SET salary = 70000 WHERE name = 'ankita'"

In [5]:
mycursor.execute(sql)

In [6]:
mydb.commit()